<mat-card>
    <mat-card-title>Secondary Information</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutGap="3em" class="card-container">
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="3em">
            <div fxLayout="column" style="width: 100%;">
                <mat-form-field appearance="fill">
                    <mat-label>Philhealth No.</mat-label>
                    <input matInput placeholder="Input Philhealth No.">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Philhealth Business Name</mat-label>
                    <input matInput placeholder="Input business name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Philhealth Business Address</mat-label>
                    <input matInput placeholder="Input business address">
                </mat-form-field>
            </div>
            <div fxLayout="column" style="width: 100%;">
                <mat-form-field appearance="fill">
                    <mat-label>SSS No.</mat-label>
                    <input matInput placeholder="Input SSS No.">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>SSS Business Name</mat-label>
                    <input matInput placeholder="Input business name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>SSS Business Address</mat-label>
                    <input matInput placeholder="Input business address">
                </mat-form-field>
            </div>
            <div fxLayout="column" style="width: 100%;">
                <mat-form-field appearance="fill">
                    <mat-label>Pag-ibig No.</mat-label>
                    <input matInput placeholder="Input Pag-ibig No.">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pag-ibig Business Name</mat-label>
                    <input matInput placeholder="Input business name">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Pag-ibig Business Address</mat-label>
                    <input matInput placeholder="Input business address">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>