<div gdAreas="grid1 grid2 | grid3 grid4" style="height:100%" class="main-menu">
    <div gdArea="grid1" fxLayoutAlign="center center">
        <button mat-raised-button fxFlexAlign="center" (click)="pageRedirect('clients')">Client</button>
    </div>
    <div gdArea="grid2" fxLayoutAlign="center center">
        <button mat-raised-button>Accounting</button>
    </div>
    <div gdArea="grid3" fxLayoutAlign="center center">
        <button mat-raised-button>Billing</button>
    </div>

    <div gdArea="grid4" fxLayoutAlign="center center">
        <button mat-raised-button>Job Order</button>
    </div>
</div>