<div fxLayout="row" fxLayoutAlign="center center" class="login-main-container">
    <mat-card class="login-container">
        <mat-card-title>Login</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form 
                fxLayout="column" 
                class="login-content"
                [formGroup] = "loginForm"
                (submit) = "onFormSubmit()"
            >
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="ex: email@email.com" formControlName="email" >
                    <mat-hint>Please enter a valid email.</mat-hint>
                    <mat-error>Invalid or missing email.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Your password" formControlName="password">
                    <mat-hint>Please enter your password</mat-hint>
                    <mat-error>Missing password.</mat-error>
                </mat-form-field>
                <div fxFlexAlign="end">
                    <button mat-stroked-button type="submit" color="primary" [disabled]="loginForm.invalid">Login</button>
                </div>
            </form>
            <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
        </mat-card-content>
    </mat-card>
</div>