<div fxLayout="row" fxLayoutAlign="center center" style="height:100%">
    <div style="justify-content: center;">
        <mat-card class="main-container">
            <mat-card-title>Login</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="ex: email@email.com">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Your password">
                </mat-form-field>
                <div fxFlexAlign="end">
                    <button mat-stroked-button color="primary">Login</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>