@import '../../../../config-theme';

.sidenav-drawer{
    height: 100%;
    .lef-side-drawer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }
}

.sidenav-container{
    height:100%;

    .left-sidenav{
        width:50px;
    }
    
}

.route-active{
    background-color: $accent;
}

.main-container{
    padding: 10px;
}