.sidenav-container {
  height: 100%;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 130px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.img-logo{
  height: 60px;
  width: 60px;
}

.header-menu{
  
}