.sidenav-drawer{
    height: 100%;
    .lef-side-drawer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }
}

.sidenav-container{
    height:100%;

    .left-sidenav{
        width:50px;
    }
}