/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";

.accent-color {
    color: mat-color($candy-app-accent) !important;
}

.accent-bgcolor {
    background-color: mat-color(mat-palette($mat-red, 100)) !important;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.homepage-container{
    padding-top: 5em;
}

.default-width-container{
    width: 75%;
}

.border1pxsolidblack{
    border:1px solid black;
}

.width100percent{
    width:100%;
}